
<div >
	<div align="right">
		
		<span  ng-if="loginUser.isAdmin=='true'">
		Welcome back <a ui-sref="author({authorId:loginUser.authorId})">{{loginUser.name}}</a>!&nbsp;&nbsp;
		<a href="#" ng-click="logout()">
		Logout</a> 	
	  </span>
	  <span ng-if = "loginUser==null">
		<a href="#" ui-sref="login">
		Login</i></a></span>
	</div> 

<nav class="navbar navbar-default">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="#">
      	barscp
        </a>
    </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
  		<li  ui-sref-active="active"><a ui-sref="home">Home</a></li>
      <li ng-repeat="item in menu" ui-sref-active="active">
        <a ui-sref="blog({type:item.key, category:'all', page:null})" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          {{item.value}}
        </a>
      </li>
      	<!--li  ui-sref-active="active"><a ui-sref="home">Home</a></li>
			<li  ui-sref-active="active"><a ui-sref="photographyList" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Photography </a>
      			
			</li>
			<li ui-sref-active="active"><a ui-sref="programmingList" >Programming</a></li>
			<li ui-sref-active="active"><a  ui-sref="projects">Projects</a></li-->
		
		</ul>
		
		<form class="navbar-form navbar-right" role="search">
        	<div class="input-group">
       		   <input type="text" class="form-control" placeholder="Search" >
       		 
       	    	 <span class="input-group-btn">
        			<button class="btn btn-default" type="button">
        				 <i class="glyphicon glyphicon-search"></i>
                     </button>
      			</span>
        	</div>
 

      	
      	</form>
	</div>	
	
</div>
</nav>
</div>
	



