<div class="panel panel-default" ng-controller="ArticleEditController">
	
	<div class="panel-body">
	<form name="frm" ng-submit="saveArticle()" novalidate>
		<div class="alert alert-danger" ng-if="frm.submitted && frm.$invalid" >
					Validation error encountered.
				</div>
		
		<div class="form-group">
			<label for="article">Current Password</label>
			<input name="title" type="text" class="form-control" id="article" ng-model="authorInfo.firstName" required > 
			<div ng-if="frm.submitted" ng-messages="frm.title.$error">
									<div ng-messages-include="app/components/error/errors.html"/>							  
							  </div> 
		</div>
		<div class="form-group">
			<label for="article">New Password</label>
			<input name="title" type="text" class="form-control" id="article" ng-model="authorInfo.lastName" required > 
			<div ng-if="frm.submitted" ng-messages="frm.title.$error">
									<div ng-messages-include="app/components/error/errors.html"/>							  
							  </div> 
		</div>
			<div class="form-group">
			<label for="article">Confirm New Password</label>
			<input name="title" type="text" class="form-control" id="article" ng-model="authorInfo.email" required > 
			<div ng-if="frm.submitted" ng-messages="frm.title.$error">
									<div ng-messages-include="app/components/error/errors.html"/>							  
							  </div> 
		</div>
		
	
		

		<div ng-if="loginUser.isAdmin || authorInfo.authorId == loginUser.authorId"">
			<button type="submit" class="btn btn-primary" >Save <i class="glyphicon glyphicon-floppy-disk"></i></button>
		</div>
		
			    
	</form>
	</div>
	
	

</div>
