<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default" >
			<div class="panel-heading"><b>Password Reset</b></div>
			<div class="panel-body">
			<div class="alert alert-success" ng-show="message">
					{{message}}
			</div>
			<div class="alert alert-danger" ng-show="error">
					{{error}}
			</div>
			
				<form name="frm" ng-submit="resetPassword()" novalidate>
					<div class="form-group">
						<label for="email">Email Address</label> <input type="email"
							class="form-control" id="email" name="email" ng-model="email" required/>
							 <div ng-if="frm.submitted" ng-messages="frm.email.$error">
									<div ng-messages-include="app/components/error/errors.html"/>							  
							  </div> 
					</div>
					<button  type="button" ui-sref="login" class="btn btn-primary">Back</button>
					<button type="submit" class="btn btn-primary" ng-disabled="resetLoading">Reset Password <span  ng-show="resetLoading==true"><i class="fa fa-refresh fa-spin"></i></span></button>
					
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>