<!-- in angular 1.4 the ng-messages-include must be applied inside ng-messages tag, 
below versions ng-messages-include should be applid on the same tag as ng-messages -->
<small class="text-danger" ng-message="required">This field is required</small>
<small class="text-danger" ng-message="minlength">This field must be at least 3 characters</small>
<small class="text-danger" ng-message="email">Please enter a valid email address</small>
<small class="text-danger" ng-message="url">Please enter a valid url</small>
