
<div class="alert alert-info" ng-if="article.isPublished=='N'" >
					This article is not published.
</div>
<article>
<div  ng-if="article.isPublished=='Y' || (article.isPublished=='N' && user)">
<img ng-show="article.imageUrl" ng-src="{{article.imageUrl}}" class="img-responsive" alt="Responsive image"/>
		
<div class="container-fluid">

	
		<div>
			 <h1>{{article.title}}</h1>
		</div>
		<div class="post-preview">
		<p class="post-meta">
		
		   	<a ui-sref="blog({type:article.type,category:all,page:null})"  ui-sref-active="active">{{article.type}}</a>  | <a ui-sref="blog({type:article.type,category:article.category,page:null})">{{article.category}}</a>
			<br/>
			  posted by <a ui-sref="author({authorId:article.author.authorId, name: removeSpace(article.author.firstName)+'-'+removeSpace(article.author.lastName)})">{{article.author.firstName}} {{article.author.lastName}}</a> on {{article.dateCreated|date:'MMM dd, yyyy'}}
				
		</p>
		</div>
		<p>{{article.description}}	
		<span  compile="article.content"></span>
		</p>
		<div ng-if="article.author.authorId == user.authorId">
			<br/>
			<button type="button"  ng-click="setEditMode()" class="btn btn-primary">Edit <i class="glyphicon glyphicon-edit"/></button>	
		
			<span ng-if="article.isPublished=='N'">	<button type="button"  ng-click="publish(true)" class="btn btn-primary">Publish <span  ng-show="publishLoading==true"><i class="fa fa-refresh fa-spin"></i></span></button>	</span>
			<span ng-if="article.isPublished=='Y'">	<button type="button"  ng-click="publish(false)" class="btn btn-primary">Unpublish <span  ng-show="publishLoading==true"><i class="fa fa-refresh fa-spin"></i></span></button>	</span>
		</div> 
		<br/><br/>

	<div ng-if="article.isPublished=='Y'" class="panel-footer white_background">
			<span fb-like="articleUrl"></span>
			
		<br/><br/>
	
		<dir-disqus disqus-shortname="barscp"
		         disqus-identifier="{{articleUrl}}"
		         disqus-url="{{articleUrl}}"
		         ready-to-bind="{{readyToBind}}">
		</dir-disqus>
	
	</div>



</div>
</div>
</article>
