
<div class="panel panel-default" ng-if="article">
	<img ng-show="article.imageUrl" ng-src="{{article.imageUrl}}" class="img-responsive" alt="Responsive image"/>
	<div class="panel-body">
		<div>
			 <h1>{{article.title}}</h1>
		</div>
		<div>
			<p><small>
		   	<a ui-sref="blog({type:article.type,category:all,page:null})">{{article.type}}</a>  | <a ui-sref="blog({type:article.type,category:article.category,page:null})">{{article.category}}</a>
			<br/>
			  posted by <a ui-sref="author({authorId:article.author.authorId, name: removeSpace(article.author.firstName)+'-'+removeSpace(article.author.lastName)})">{{article.author.firstName}} {{article.author.lastName}}</a> on {{article.dateCreated|date:'MMM dd, yyyy'}}
				</small></p>
		</div>
		<div><p>{{article.description}}</p></div>		
		<!-- #articles are uploaded to the server, these are -->
		<div ng-bind-html="article.content"></div>
		
		<div ng-if="article.author.authorId == user.authorId">
			<br/>
			<button type="button"  ng-click="setEditMode()" class="btn btn-primary">Edit <i class="glyphicon glyphicon-edit"/></button>	
		</div> 
		<br/><br/>
		
	</div>
	<div class="panel-footer white_background">
			<span fb-like="articleUrl"></span>
			
		<br/><br/>
	
		<dir-disqus disqus-shortname="barscp"
		         disqus-identifier="{{article.articleId}}"
		         disqus-url="{{articleUrl}}"
		         ready-to-bind="{{readyToBind}}">
		</dir-disqus>
	
	</div>



</div>
