
<div ng-controller="SideNavController" class="container-fluid">
	<div class="panel panel-default" ng-if="user">
		
		<div class="panel-body" >
		<h4>User Actions</h4>
		<ul>
			<li><a   ui-sref="author({authorId:user.authorId,name:user.name})">Update Profile</a></li>
			<li><a ui-sref="article({id: 'new',title:null})"> Add New Article</a><br/></li>
			<li><a ui-sref="blog({type: 'search',category:'unpublished',page:null})"> View unpublished articles</a></li>
		
			<li ng-if="user.isAdmin"><a ui-sref="createAuthor"> Create Author (Admin)</a></li>
			<li><a ui-sref="uploadFile">Upload File</a></li>
		</ul>
		</div>
		
	</div>

<div class="panel panel-default" ng-show="false" >

		<div class="panel-body">
		Ads here 
		</div></div>
	
	
	<div ng-repeat="item in menu track by item.id" ui-sref-active="active">
			<div my-category-tags blog-type="{{item.key}}"></div>
		</div>
	<div recent-articles></div>
</div>

